$highlight-color: #ffe3b3;
$highlight-color-L2: #ffc466;
$highlight-color-L3: #ffad33;
$selected-color: #98b7d9;
$deselected-color: #bebebe;
$border-color: black;
$edge-color: gray;
$component-head-color: rgba(152, 183, 217, 0.51);
$page-background-color: white;

$encoder-color: #98b7d9;
$decoder-color: #f5de93;
$attn-color: #6c7067;

$pivot-color: #4e9c57;
$compare-color: #9c6d9b;

$add-color: #b4e876;
$delete-color: #ff8566;
