
#sentence-input {
    margin-bottom: -30px;
    margin-right: -30px;
    margin-left: 10px;
    width: 90%;

    form {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;

        .form-group {
            flex-grow: 3;

            input {
                // flex-grow: 4;
                width: 100%;
                margin-right: 5%;
            }
        }
        
        .padding {
            flex-grow: 0.3;
        }


        .btn {
            flex-grow: 1;
            // display: inline-block;
        }
    }
}