.DS_Store

# Emacs specific
*~
.*~
#*
.#*

# Python
__pycache__
*.egg-info
.ipynb_checkpoints
.pytest_cache

# For holding files
.archive

# Notebooks that are not titled
Untitled*.ipynb

# For distribution on pip
dist